/* Styles for shopping list */
.shopping-list-div {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center vertically */
    background: #212f3c; /* Background color */
    padding: 15px; /* Add spacing inside container */
    margin: 5px 0; /* Add spacing outside container */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
    border: 2px solid #37474f; /* Add border with color */
}

.Shopping-list-btns-view-mode {
    display: flex; /* Align buttons in a row */
    gap: 5px; /* Add spacing between buttons */
    justify-content: center; /* Center horizontally */
    margin-top: 8px; /* Add space between input and buttons */
} 

.shopping-list-div input {
    padding: 5px; /* Add spacing inside container */
    font-size: 16px; /* Font size */
    border: 1px solid #ccc; /* Define border */
    border-radius: 5px; /* Round corners */
}

.item-name {
    font-size: 25px; /* Font size */
    font-weight: bold; /* Font bold */
    padding: 10px; /* Space inside container */
    color: #e9c46a; /* Background color */
}


.shopping-list-div button {
    background: #2A9D8F; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add spacing inside container */
    margin-left: 10px; /* Space between buttons */
    border-radius: 5px; /* Round button corners */
    cursor: pointer; /* Cursor pointer */
}

.shopping-list-div button:hover {
    background: #264656; /* Background-color on hover */
}

