/* Styling for favorite list */
.favorite-list-div {
    width: auto;  /* Width */
    padding: 20px;   /* Add padding */
    background-color: #212f3c; /* Background color*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow */
    border: 1.5px solid #37474f; /* Define border */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center horizontally */
}

/* Remove default styling for ul */
ul {
    list-style: none; /* Remove bullet points */
    padding: 0;  /* Remove default padding */
    margin: 0; /* Remove default margins */
}


/* Styling for favorite name */
.fav-name { 
    color: #e9c46a;
    font-weight: bold;
    margin-right: 20px; /* Add space */
}

/* Styling div for the buttons */
.fav-btns { 
    display: flex; /* flexbox layout */
    gap: 10px; /* Add space between buttons */
}


/* Button for viewing favorite details */
.details-btn {
    padding: 12px 40px;    /* Padding */
    background-color: #2A9D8F; /* Teal background */
    color: white;  /* White text */
    border: none;    /* Remove border */
    border-radius: 5px;  /* Rounded corners */
    cursor: pointer;   /* Pointer cursor */
    font-size: 1.2rem;  /* Font size */
    width: 20%; /* Width size */
    display: inline-flex; /*  Flexbox layout */
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
}

/* Button for deleting favorite recipe */
.delete-btn {
    padding: 12px 38px;    /* Padding */
    background-color: #2A9D8F; /* Teal background */
    color: white;  /* White text */
    border: none;    /* Remove border */
    border-radius: 5px;  /* Rounded corners */
    cursor: pointer;   /* Pointer cursor */
    font-size: 1.2rem;  /* Font size */
    width: 20%; /* Width size */
    display: inline-flex; /*  Flexbox layout */
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
}


/* List items btns hover styling */
.favorite-list-div button:hover {
    background-color: #264656; /* Hover background color */
}

/* Styling for add new fav recipe section */
.add-new-fav-recipe-div {
    width: auto;  /* Width */
    padding: 20px;   /* Add padding */
    background-color: #212f3c; /* Background color*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow */
    border: 1.5px solid #37474f; /* Define border */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center horizontally */
}

/* Input box for adding a new favorite */
.add-new-fav-recipe-div input {
    width: 50%;  /* Full width */
    padding: 10px;   /* Padding */
    margin-bottom: 10px;  /* Space below */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;  /* Font size */
}