.menu {
  display: flex; /* Arrange layout */
  justify-content: space-between; /* Add space between items */
  align-items: center; /* Align items in center */
  background-color: #264656; /* Sets background color */
  padding: 10px 20px; /* Adds space around items */
}

.menu-left .menu-link {
  font-size: 24px; /* Sets font size */
  font-weight: bold; /* Make text bold */
  color: #e9c46a; /* Sets font color */
  text-decoration: none; /* Removes underline */
}

.menu-center {
  display: flex; /* Arrange layout */
  justify-content: center; /* Add space between items */
  flex-grow: 1; /* Items can grow to take up available space */
  list-style-type: none; /* Remove bullet points */
}

.menu-center .menu-link {
  color: #e9c46a; /* Sets color of text */
  text-decoration: none; /* Removes underline from link */
  font-size: 18px; /* Sets font size */
  margin: 0 15px; /* Add space around container */
}

.menu-link:hover {
  text-decoration: underline; /* Adds underline when hovered */
}
